-
  var webList = [
  {
    title:'亞細亞氣密窗',
    img:'w0',
    link:'https://www.asia-sash.com/',
    number:'1',
  },{
    title:'鉅象科技',
    img:'w3',
    link:'https://www.chutech.com.tw/',
    number:'1',
  },{
    title:'傑其斯化工',
    img:'w1',
    link:'https://www.jkschem.com/',
    number:'2',
  },{
    title:'大熹企業',
    img:'w2',
    link:'https://www.da-cei.com/',
    number:'2',
  },{
    title:'狄而康實業',
    img:'w4',
    link:'https://www.twdek.com/',
    number:'3',
  },{
    title:'育勤旺',
    img:'w7',
    link:'https://www.hs888.com.tw/',
    number:'3',
  },{
    title:'尚裕塑膠',
    img:'w5',
    link:'https://www.shangyuh.com.tw/',
    number:'4',
  },{
    title:'龍誠工業',
    img:'w6',
    link:'https://www.liongchen.com/',
    number:'4',
  },{
    title:'迅全精密',
    img:'w8',
    link:'https://www.xunquan.com.tw/',
    number:'5',
  },{
    title:'遠東衛浴',
    img:'w9',
    link:'https://www.shin-hong.com.tw/',
    number:'5',
  },
  ]
