-
  var productsClass = [
      { 
        dropdownThird: true,
        title:'產品1',
        url:'tw_products.php',
        productSecond:[{
          title:'產品1子項1',
          url:'#',
          list:['產品1子項1的子項1','產品1子項1的子項2'],
          listURL:'#',

        },{
          title:'產品1子項2',
          url:'#',
          list:['產品1子項2的子項1','產品1子項2的子項2'],
          listURL:'#',
        }],
        productSecondUrl:'tw_products-detail.php',        
      },{
        dropdownThird: false,
        title:'產品2',
        url:'tw_products.php',
        productSecond:['產品2子項1','產品2子項2',],
        productSecondUrl:'tw_products-detail.php',        
      },{
        dropdownThird: false,
        title:'產品3',
        url:'tw_products.php',
        productSecond:['',],
        productSecondUrl:'tw_products-detail.php',        
      },]
      
